name: Build and deploy docs

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"   # or your preferred version

      - name: Install dependencies
        run: |
          pip install mkdocs mkdocs-material mkdocstrings[python] photonai

      - name: Build and deploy
        run: |
          mkdocs gh-deploy --force
